@model IEnumerable<NotesClient.ServiceAccess.Models.Note>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.IsPublic)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Text)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DateModified)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.IsPublic)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DateModified)
        </td>
      </tr>
    }
  </tbody>
</table>
